.DS_Store
Thumbs.db
ehthumbs.db
Icon
*.swp
*.swo
*~

.vscode/
.idea/
*.iml
*.ipr
*.iws

.packages
.pub-cache/
.pub/
.flutter-plugins
.flutter-plugins-dependencies
.pubspec.lock
.dart_tool/

/build/

coverage/
*.lcov

*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip


/ios/
/linux/
/macos/
/web/
/windows/
/android/
