.DS_Store
Thumbs.db
ehthumbs.db
Icon?
.vscode/
.idea/
*.iml
*.ipr
*.iws
*.swp
*.swo
*~
*.log


.packages
.pub-cache/
.pub/
.flutter-plugins
.flutter-plugins-dependencies
.pubspec.lock
.dart_tool/
build/                  
lib/generated_plugin_registrant.dart


coverage/
*.lcov
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip


android/

ios/

linux/

macos/

web/

windows/


