.DS_Store
Thumbs.db
ehthumbs.db
Icon?
.vscode/
.idea/
*.iml
*.ipr
*.iws
*.swp
*.swo
*~
*.log


.packages
.pub-cache/
.pub/
.flutter-plugins
.flutter-plugins-dependencies
.pubspec.lock
.dart_tool/
build/                  # ← ВАЖНО: общая папка сборки Flutter
lib/generated_plugin_registrant.dart


coverage/
*.lcov
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip


android/app/build/
android/build/
android/.gradle/
android/local.properties


ios/Flutter/
ios/.symlinks/
ios/build/
ios/Runner.xcworkspace/
ios/Runner.xcodeproj/project.xcworkspace/
ios/Runner.xcodeproj/xcuserdata/


macos/Flutter/
macos/build/
macos/Runner.xcworkspace/
macos/Runner.xcodeproj/project.xcworkspace/
macos/Runner.xcodeproj/xcuserdata/


linux/build/


windows/build/


web/build/