name: first_app
description: A new Flutter project.
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  # Cubit/Bloc для управления состоянием
  flutter_bloc: ^8.1.2
  bloc: ^8.1.1
  # Для локального хранения данных
  shared_preferences: ^2.2.2
  # Для работы с HTTP (если понадобится)
  http: ^1.1.0
  sqflite: ^2.3.0
  path: ^1.8.3

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
  uses-material-design: true